<?xml version="1.0"?>
<config>
    <modules>
        <LoveCrafts_ShitModule>
            <version>0.0.1</version>
        </LoveCrafts_ShitModule>
    </modules>
    <global>
        <models>
            <lovecrafts_shitmodule>
                <class>LoveCrafts_ShitModule_Model</class>
            </lovecrafts_shitmodule>
        </models>
        <blocks>
            <lovecrafts_shitmodule>
                <class>LoveCrafts_ShitModule_Block</class>
            </lovecrafts_shitmodule>
        </blocks>
    </global>
</config>